@import '../../styles/vars';

.cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  //&:hover {
  //  overflow: visible;
  //}
}
.item {
  text-align: center;
  user-select: none;
  .cut;
  padding: 10px;
  &__size {
    &1 {
      font-size: 14px;
    }
    &2 {
      font-size: 16px;
    }
    &3 {
      font-size: 18px;
    }
  }
  &[data-selected='1'] {
    background-color: @primary-color;
    color: white;
  }
}
.itemPath {
  padding-top: 10px;
}
.itemIcon {
}
